
    .bubbles {
        font-size: 2.5vmax;
        justify-content: center;
        display: flex;
        align-items: center;
        font-family: cursive;
        border-radius: 50%;
        border-color: #b7fdfd;
        background: linear-gradient( 35deg, #dbfdfdb6, #f7f5f5b6, #f3f8f3b6);
        position: fixed;
        width: 10vmax;
        height: 10vmax;
        margin-top: -15vmax;
        margin-bottom: -15vmax;
        animation-name: up;
        animation-iteration-count: infinite;
    }
    
    #bubble1 {
        left: 5%;
        animation-timing-function: linear;
        animation-duration: 11.2s;
    }
    #bubble2 {
        left: 15%;
        animation-timing-function: linear;
        animation-duration: 10s;
    }
    #bubble3 {
        left: 25%;
        animation-timing-function: linear;
        animation-duration: 10.5s;
    }
    #bubble4 {
        left: 45%;
        animation-timing-function: linear;
        animation-duration: 11.5s;
    }
    #bubble5 {
        left: 60%;
        animation-timing-function: linear;
        animation-duration: 10.8s;
    }
    #bubble6 {
        left: 70%;
        animation-timing-function: linear;
        animation-duration: 11.7s;
    }
    #bubble7 {
        left: 80%;
        animation-timing-function: linear;
        animation-duration: 10.9s;
    }
    @keyframes up {
        0% {
            bottom: 0vmax;
        }
        50% {
            bottom:62vmax;
        }
        
        100% {
            bottom:115vmax;
        }
    }


